.section{ background: linear-gradient(105deg, white 50%, #f6b400 50%);
height: 700px;}
.burga {
    position: absolute;
    top: 4.7%;
    left: 7%;
}
em {
    color:#f6b400;
}

.nav-section>nav {
    margin-right: 80px;
    position: absolute;
    top: 20px;
    left: 50%;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.nav-section>nav>a{
    justify-content: space-between;
    font-weight: 800;
    color: black;
    padding: 30px;
    text-decoration: none;
    
}
.image {
    position: absolute;
    left: 50%;
    bottom: %;
    width: auto;
    height: auto;
    max-height: 580px;
    max-width: 580px;
}
.shine{
    font-weight: 900;
    font-size: 37px;
    margin-top: 5%;
    margin-left: 4%;
    
}
.deliver{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-left: 4%;
    padding-bottom: 30px;

}
.opt{
    position: absolute;
    margin-left:80px;
    
}

.section2{
   background: #E1EBE6;
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 500px;
}
.quality-burgers{
    height: 70%;
    width: 25%;
    border-radius: 15px;
    padding-top: 7%;
    margin-left: 4%;
    
}
.delicious-meals{
    height:70%;
    width: 25%;
    border-radius: 15px;
    margin-left: 9%;
    padding-top: 3%;
    border: 1px solid black;


}
.quality,.FastDelivery,.delicious{
    text-align: center;
}
.section2>img{
    margin-left: 2%;
}
  
.fast-delivery{
border-radius: 15px;
height: 80%;
width: 25%;
margin-left: 6%;
padding-top: 8%;

}
.section2{
    font-size: 20px;
    border: 1px solid black;
    justify-items: center;
}
nav>a:hover{background-color: green;}
nav>a:hover{color: white;}

   


