*{
    margin: 0px;
    padding: 0px;
}

.section{ background: linear-gradient(105deg, white 50%, #f6b400 50%);
height: 700px;}
.burga {
    position: absolute;
    top: 4.7%;
    left: 7%;
}
em {
    color:#f6b400;
}

.nav-section>nav {
    margin-right: 80px;
    position: absolute;
    top: 20px;
    left: 50%;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.nav-section>nav>a{
    justify-content: space-between;
    font-weight: 800;
    color: black;
    padding: 30px;
    text-decoration: none;
    
}
.image {
    position: absolute;
    left: 50%;
    width: auto;
    height: auto;
    max-height: 580px;
    max-width: 580px;
}
.shine{
    font-weight: 900;
    font-size: 37px;
    margin-top: 5%;
    margin-left: 4%;
    
}
.deliver{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-left: 4%;
    padding-bottom: 30px;

}
.opt{
    position: absolute;
    margin-left:80px;
    
}

.section2{
   background: #E1EBE6;
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 500px;

    
}
.section2 > div {
    margin-top: 30px;
    margin-bottom: 15px;
}
.quality-burgers{
    height: 70%;
    width: 50%;
    border-radius: 15px;
    padding-top: 1%;
    margin-left: 6%;
    border: 1px solid black;
    border-radius: 6%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
.delicious-meals{
    height:70%;
    width: 50%;
    border-radius: 15px;
    margin-left: 20%;
    padding-top: 2%;
    border: 1px solid black;
    border-radius: 6%;
    padding-left: 1%;
    margin-right: 1%;
    padding-right: 2%;
    margin-top: 10%;


}
.quality-burgers,.fast-delivery,.delicious-meals{
    text-align: center;
}
 .delicious,.quality,.FastDelivery{
     font-size: 30px;
     font-family: inherit;
 }
 .quality{
     margin-top: 7%;
 }
 .lorem{
     font-size: 22px;
 }
.fast-delivery{
border-radius: 15px;
height: 70%;
width: 50%;
margin-left: 19%;
padding-top:2%;
margin-bottom: 3%;
border: 1px solid black;
border-radius: 6%;
padding-right: 3%;
padding-left: 3%;
padding-bottom: 2%;
margin-right: 0%;
}



nav>a:hover{background-color: green;}
nav>a:hover{color: white;}

.section3{
background-color: white;
margin: 10px;
padding: 20px;

}
.menu{
text-align: center;
padding-top: 36%;
font-size: 26px;
}
.group1{
    display: flex;
    flex-direction: row;
    
}

.col3,.col4,.col5{
    border: 1px solid black;

}




