.section{ background: linear-gradient(105deg, white 50%, #f6b400 50%);
height: 700px;}
.burga {
    position: absolute;
    top: 4.7%;
    left: 7%;
}
em {
    color:#f6b400;
}

.nav-section>nav {
    margin-right: 80px;
    position: absolute;
    top: 20px;
    left: 50%;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.nav-section>nav>a{
    justify-content: space-between;
    font-weight: 800;
    color: black;
    padding: 30px;
    text-decoration: none;
    
}
.image {
    position: absolute;
    left: 50%;
    bottom: %;
    width: auto;
    height: auto;
    max-height: 580px;
    max-width: 580px;
}
.shine{
    font-weight: 900;
    font-size: 37px;
    margin-top: 5%;
    margin-left: 4%;
    
}
.deliver{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-left: 4%;

}
.opt{
    position: absolute;
    margin-bottom: 15%;
    margin-left: 6%;
    
}




nav>a:hover{background-color: green;}
nav>a:hover{color: white;}

   


